<div *ngIf="presentData">
  <div class="plates">
    <div class="row justify-content-center align-items-center g-2">
      <div class="col-1" *ngFor="let item of presentData.plates.position">
        <div class="plates__down-side" *ngIf="item.length > 1 ; else noItem">
          <img src="{{item}}" >
        </div>
        <ng-template #noItem>
          <div class="col-1"></div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="dishes">
    <div class="row justify-content-center align-items-center g-2">
      <div class="col-1" *ngFor="let item of presentData.dishes.position">
        <div *ngIf="item.length > 1 ; else noItem">
          <img src="{{item}}" >
        </div>
        <ng-template #noItem>
          <div class="col-1"></div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
