.dishes {
  position: absolute;
  display: inline-block;
  top: 42%;
  right: 25%;
  width: 100%;
}

.plates {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 25%;
  right: 23%;

  &__down-side {
    margin-bottom: 400px;
  }
}
