
<div *ngIf="data">
  <div class="menu">
    <h2>MENU</h2>
    <mat-form-field appearance="fill">
      <mat-label>Select Mode</mat-label>
      <mat-select [(value)]="mode">
        <mat-option value="present">Present</mat-option>
        <mat-option value="dish">Dishes</mat-option>
        <mat-option value="plate">Plates</mat-option>
        <mat-option disabled>Drinks</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button
        color="primary"
        (click)="turnBack()"
        mat-button
        disableRipple
      >
        Turn Back
      </button>
    </div>
  </div>

  <div *ngIf="data" class="table">
    <img class="table__rotate" src="{{data?.tableUrl}}" alt="Our table" rotate="90">
    <app-table-editor [data]="getData()"></app-table-editor>
    <app-show-table *ngIf="mode === 'present'"></app-show-table>
  </div>
</div>

